
.btn-d {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #c72e2e;
    color: white;
}


.cart {
    border: 1px solid #6d6d6d;
    border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.cart-gr {
    border-top: 1px solid #6d6d6d;
    background-color: #86a83a;
    height: 80px;
    color: #fff;
}

.cart-r {
    border-top: 1px solid #6d6d6d;
    background-color: #c72e2e;
    height: 80px;
    color: #fff;
}

.cart-g {
    border-top: 1px solid #6d6d6d;
    background-color: #90af58;
    height: 80px;
    color: #fff;
}

input {
    width: 90%;
}

.bx {
    margin-right: 5px;
    font-size: 22px;
}

label {
    margin-left: 32px;
    font-size: 13px;
    color: #6d6d6d;
}

.bx-trash {
    font-size: 14px;
}

.bx{
    transition: .3s;
}

.bx:hover{
    color:#0b5ed7 ;
}


